@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

.textInputStyle{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.38);
    color: black;
    font-family: 'Outfit';
    font-size: 1.1em;
    width: 100px;
}