html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Qualy_Bold";
  src: local("Qualy"), url(../fonts/Qualy_Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Garet-Book";
  src: local("Garet"), url(../fonts/Garet-Book.ttf) format("truetype");
}
