html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "DM-Sans";
  src: local("DM-Sans"), url(../fonts/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DM-Sans-Bold";
  src: local("DM-Sans"), url(../fonts/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DM-Sans-Medium";
  src: local("DM-Sans"), url(../fonts/DMSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "DM-Sans-Italic";
  src: local("DM-Sans"), url(../fonts/DMSans-Italic.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');
