@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

.flexboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
}

.notSelectedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Outfit';
}

.subTextMargin{
    margin-top: 10px;
}

.notSelectedImage{
    width: 300px;

}

/* .flex-item1 {

} */
